.opportunities {
    padding: 80px;
    min-height: 896px;
    &__text {
        margin-top: 155px;
        text-align: center;
        font-size: 48.1px;
        font-weight: 700;
        color:$grey;
    }
}